<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Live Translate</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/style.css">

<body>

<div class="button-cover">
    <a>Translation</a>
    <div class="translate" id="translate">
      <!--suppress HtmlFormInputWithoutLabel -->
        <input type="checkbox" class="checkbox" onclick="toggle_translate()"/>
        <div class="knobs"></div>
        <div class="layer"></div>
    </div>
</div>

<div class="translate_languages_selector">
    <select id="translate_language_selector" onchange="set_translation_language(this)" required>
    </select>
</div>
<div class="languages_selector">
    <select id="language_selector" onchange="set_language(this)" required>
        <option disabled selected>Select speech language</option>
    </select>
</div>


<button id="toggle" class="toggle_listening" onclick="toggle_listening()">Start listening</button>

<p>Transcript:</p>
<div class="transcript" id="transcript">Transcript will appear here</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.0/jquery-ui.min.js"></script>

<script src="../static/scripts/language_selector.js"></script>
<script src="../static/scripts/language_settings.js"></script>
<script src="../static/scripts/utils.js"></script>
<script src="../static/scripts/listening_worker.js"></script>
<script type="text/javascript" src="../static/scripts/script.js"></script>

</body>
</html>