<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Live Translate</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/style.css">

<body>

<div class="button-cover">
    <a>Translation</a>
    <div class="translate" id="translate">
      <!--suppress HtmlFormInputWithoutLabel -->
        <input type="checkbox" class="checkbox" onclick="toggle_translate()"/>
        <div class="knobs"></div>
        <div class="layer"></div>
    </div>
</div>

<p>Transcript:</p>

<div class="transcript" id="transcript"> Start speaking</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--suppress JSUnusedGlobalSymbols, JSUnresolvedVariable -->
<script>
    let translate = "False";
    function toggle_translate(){
        if (translate === "False") {
            translate = "True"
        }
        else if (translate === "True") {
            translate = "False"
        }

        console.log(translate)
    }
    (
        function worker() {
            $.ajax(
                {
                    url: '/get_result',
                        type: 'POST',
                        data: {
                            'translate': translate
                        },
                    success: function(data) {
                        let transcript = data.transcript;
                        let is_final = data.is_final;
                        let translated = data.translated;
                        let transcript_div = $('#transcript');

                        if (transcript) {
                            if(translate === "True")
                            {
                                transcript_div.text(translated);
                            }
                            else
                            {
                                transcript_div.text(transcript);
                            }

                            if (is_final) {
                                transcript_div.css('color', '#57b639');
                            } else {
                                transcript_div.css('color', '#5d5d5d');
                            }
                        }
                    },
                    complete: function() {
                        // Schedule the next request when the current one's complete
                        setTimeout(worker, 1000);
                    },
                }
            );
        }
    )();
</script>

</body>
</html>